<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem de Receitas</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="TelaListagem.CSS" />
  </head>
  <body>
    <!--MENU DE NAVEGAÇÃO-->
    <header>
      <nav id="nav">
        <img
          id="logo"
          src="https://previews.123rf.com/images/stockgiu/stockgiu2304/stockgiu230401098/202846093-chef-hat-symbolizes-gourmet-cooking-industry.jpg"
          alt="imagem logo"
          class="img-fluid logo"
        />
        <button id="menu-toggle">&#9776;</button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-inline-item" href="index.html">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-inline-item" href="receita-listagem.html">Receitas cadastradas</a>
          </li>
          <li class="nav-item">
            <a class="nav-inline-item" href="receita-cadastro.html">Cadastrar nova Receita</a>
          </li>
        </ul>
      </nav>
    </header>

    
    <table>
            <thead>
                
            <th>ID</Th>
            <th>Nome da Receita</Th>
            <th>Categotia</Th>
            <th>Tempo</th>
            <th>Dificuldade</th>
            <th>Ingredientes</Th>
            <th>Modo de Preparo</Th>
            </thead>
            
            <tbody>
                <tr th:each="receita: ${receitas}">
                    <td th:text="${receita.id}"></td>
                    <td th:text="${receita.nome}"></td>
                    <td th:text="${receita.categoria}"></td>
                    <td th:text="${receita.tempo}"></td>
                    <td th:text="${receita.dificuldade}"></td>
                    <td th:text="${receita.ingredientes}"></td>
                    <td th:text="${receita.preparo}"></td>
                    <td>
                        <a th:href="@{'/detalhes/'} + ${receita.id}">Detalhes</a>
                        <a th:href="@{'/alterar/'} + ${receita.id}">Alterar</a>
                        <a th:href="@{'/excluir/'} + ${receita.id}">Excluir</a>
                    </td>
                </tr>
            </tbody>
  </table>

    <footer class="bg-dark text-light py-4 mt-5">
      <div class="container text-center">
        <p class="mb-1">&copy; 2025 Catálogo de Receitas Pessoais</p>
        <p class="mb-0">Feito com ♥ por Mateus</p>
      </div>
    </footer>

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          document.querySelector(".nav").classList.toggle("active");
        });
    </script>

    
  </body>
</html>
